<!DOCTYPE html>
<html lang="en">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">-->
<!--    <input type=file name=photo>-->
<!--    <input type=submit>-->
<!--</form>-->
<div>
    <input type=file name=photo id="file">
    <input type=button value="提交" onclick="submit()">
</div>
<div>
    <p>上传文件的名字：<span id="uploadName"></span></p>
    <!--<input type="button" value="开始解析" onclick="parsing()">-->
    <input type="button" value="导出">
    <input type="button" value="逆向导出">

    <select id ="method">
        <option value ="">请选择方法</option>
        <option value ="DELETE">DELETE</option>
        <option value ="UPDATE">UPDATE</option>
        <option value="INSERT">INSERT</option>
    </select>
    <input type="button" value="查询" onclick="query()">


</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>选择</th>
                <th>序号</th>
                <th>文件名</th>
                <th>方法</th>
                <th>开始节点</th>
                <th>结束节点</th>
                <th>时间</th>
                <th>sql语句</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
</table>
</div>

</body>
 <script type="text/javascript">
    function submit(){
        var files = $("#file").prop('files');
        var data = new FormData();
        data.append('photo', files[0]);  //参数名：file
        $.ajax({
            url: "{{ url_for('upload') }}",
            type: 'POST',
            data: data,
            cache: false, //禁止浏览器对该URL的缓存
            contentType: false,
            processData: false,
            success: function(data){
               $('#uploadName').text(data.filename);
               parsing();
              // alert(data.msg)

            }
        });
    }

    function parsing(){

        var filename=$('#uploadName').text();
        //var data = new FormData();
        //data.append('filename', filename);  //参数名：file
        $.ajax({
            url: "{{ url_for('parsing') }}",
            type: 'get',
            data: {'filename':filename},
            success: function(data){
                query()
               alert(data.msg)

            }
        });

    }

    function query(){
         var filename=$('#uploadName').text();
         var method=$('#method').val();
        $.ajax({
            url: "{{ url_for('query') }}",
            type: 'get',
            data: {'filename':filename,'method':method},
            success: function(data){
               console.log(data)
               var str="";
               for(var i=0;i<data.length;i++){
                    str+=   "<tr><td><input name=\"binglogid\" type=\"checkbox\" value=\""+data[i][0]+"\" /></td>"+
                            "<td>"+(i+1)+"</td>"+
                            "<td>"+data[i][1]+"</td>"+
                            "<td>"+data[i][2]+"</td>"+
                            "<td>"+data[i][3]+"</td>"+
                            "<td>"+data[i][4]+"</td>"+
                            "<td>"+data[i][5]+"</td>"+
                            "<td>"+data[i][6]+"</td>"+
                            "<td>"+data[i][7]+"</td></tr>"
               }
               $('#data').html(str);
            }
        });
    }

</script>
</html>