<!DOCTYPE html>
<html lang="en">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">-->
<!--    <input type=file name=photo>-->
<!--    <input type=submit>-->
<!--</form>-->
<div>
    <input type=file name=photo id="file">
    <input type=button value="提交" onclick="submit()">
</div>
<div>
    <p>上传文件的名字：<span id="uploadName"></span></p>
    <input type="button" value="开始解析" onclick="parsing()">
</div>
<div>
    <table border="1">
    <tr>
        <th>选择</th>
        <th>序号</th>
        <th>文件名</th>
        <th>开始节点</th>
        <th>结束节点</th>
        <th>时间</th>
        <th>sql语句</th>
        <th>创建时间</th>
    </tr>
    <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
    <tr>
       <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
    </tr>
</table>
</div>

</body>
 <script type="text/javascript">
    function submit(){
        var files = $("#file").prop('files');
        var data = new FormData();
        data.append('photo', files[0]);  //参数名：file
        $.ajax({
            url: "{{ url_for('upload') }}",
            type: 'POST',
            data: data,
            cache: false, //禁止浏览器对该URL的缓存
            contentType: false,
            processData: false,
            success: function(data){
               $('#uploadName').text(data.filename);
               alert(data.msg)
            }
        });
    }
    var lock=0;
    function parsing(){
        if(lock==1){
            lock=1;
            return;
        }
        var filename=$('#uploadName').text();
        //var data = new FormData();
        //data.append('filename', filename);  //参数名：file
        $.ajax({
            url: "{{ url_for('parsing') }}",
            type: 'get',
            data: {'filename':filename},
            success: function(data){
               alert(data.msg)
            }
        });

    }
</script>
</html>